# Configures app name.
# https://docs.expo.dev/versions/latest/config/app/#name
APP_NAME=Schiffradar

# Configures package and bundleIdentifier.
# https://docs.expo.dev/versions/latest/config/app/#package
# https://docs.expo.dev/versions/latest/config/app/#bundleidentifier
BUNDLE_IDENTIFIER=me.artyorsh.schiffradar.preview

# Paths to Google Services files needed for RNFB integration. Use Expo EAS to manage.
# https://rnfirebase.io/#configure-react-native-firebase-modules
# https://docs.expo.dev/eas/environment-variables
#
# GOOGLE_SERVICES_FILE_ANDROID=./google-services.json
# GOOGLE_SERVICES_FILE_IOS=./GoogleService-Info.plist

# Configures aps-environment capability for iOS.
# https://docs.expo.dev/build-reference/ios-capabilities/#supported-capabilities
NOTIFICATIONS_IOS_APS_ENVIRONMENT=development

####################################################################################################
# Runtime variables                                                                                #
# https://docs.expo.dev/guides/environment-variables/#reading-environment-variables-from-env-files #                                   #
####################################################################################################

# Comma-separated list of log transports
# Options: console, file, grafana, sentry
# See log/index.ts
EXPO_PUBLIC_LOG_TRANSPORTS=console,file

# How often logs are flushed, in milliseconds
EXPO_PUBLIC_LOG_FLUSH_INTERVAL=10000

# Log file name for FileTransporter
EXPO_PUBLIC_LOG_FILE_NAME=app.log

# Host where Grafana/Loki is accessible
# Beware that 'localhost' won't be resolved on Android
# See https://github.com/artyorsh/grafana-mobile-o11y
EXPO_PUBLIC_LOG_GRAFANA_HOST=http://192.168.1.10:3100

# Token refresh threshold in minutes
# If locally stored token is valid for less than this threshold, it will be refreshed on the app start
# Set it to JWT_ACCESS_TTL minus few minutes for safe refresh.
EXPO_PUBLIC_AUTH_TOKEN_REFRESH_THRESHOLD_MINUTES=10

# See https://github.com/artyorsh/schiffradar-api
EXPO_PUBLIC_HTTP_BASE_URL=http://192.168.1.10:3000

# https://github.com/rnmapbox/maps?tab=readme-ov-file#prerequisite
# https://console.mapbox.com/account/access-tokens/
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=

# Needs to have 'DOWNLOADS:READ' scope
EXPO_PUBLIC_MAPBOX_RNMapboxMapsDownloadToken=

# Enables Sentry integration and Logger.
# Only required if EXPO_PUBLIC_LOG_TRANSPORTS contains `sentry`
# See https://docs.sentry.io/platforms/react-native/manual-setup/expo/#add-the-sentry-expo-plugin
# See https://docs.expo.dev/guides/using-sentry/
SENTRY_PROJECT=schiffradar
SENTRY_ORGANIZATION=artyorsh
SENTRY_DISABLE_AUTO_UPLOAD=true
EXPO_PUBLIC_SENTRY_DSN=https://
